<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>39E97E79-FB07-40A0-845F-B35085D29C41</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64e</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPad8,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>62A19D3D-FD57-4DD5-8BC3-B13B6CA10E2F</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64e</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone12,3</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>64B97823-039E-42B5-849C-EB414F258635</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone10,6</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>DFF4B4AD-9C0D-4CD2-A2EF-451A954DC57C</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone7,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>EDBDCB77-B98E-4AEF-B959-01D8D37EAF06</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone10,5</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
